body {
    font-family: sans-serif;
}

h1 {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    align-content: center;
}
.container {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
